In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [4]:
df.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

## Question 3

In [6]:
average_fuelcost_type_codes = df['fuel_cost_per_unit_burned'].groupby(df['fuel_type_code_pudl']).mean()
ans = average_fuelcost_type_codes.idxmin()
ans

'gas'

## Question 4

In [7]:
std  = df['fuel_mmbtu_per_unit'].std()
_75th_percntile = df['fuel_mmbtu_per_unit'].quantile(q=0.75)

round(std, 2), round(_75th_percntile, 2)

(10.6, 17.01)

## Question 5

In [8]:
skew = df['fuel_qty_burned'].skew()
kurtosis = df['fuel_qty_burned'].kurtosis()

round(skew, 2), round(kurtosis, 2)

(15.85, 651.37)

## Question 6

In [16]:
df.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [21]:
no_miss_values = df.isnull().sum().max()
no_rows = df.count().max()
percent = (no_miss_values/no_rows) * 100
round(percent, 3)

0.61

## Question 7

In [28]:
df[df.isnull().sum().idxmax()].dtype.name

'object'

## Question 8

In [33]:
df.corr()['fuel_cost_per_unit_burned'].sort_values()

utility_id_ferc1               -0.037863
fuel_qty_burned                -0.018535
fuel_mmbtu_per_unit            -0.010034
fuel_cost_per_mmbtu            -0.000437
fuel_cost_per_unit_delivered    0.011007
report_year                     0.013599
fuel_cost_per_unit_burned       1.000000
Name: fuel_cost_per_unit_burned, dtype: float64

## Question 9

In [61]:
yearly_unitburnedcoal = df.groupby(['fuel_type_code_pudl', 'report_year']).sum()['fuel_cost_per_unit_burned']['coal']
percent_change = ((yearly_unitburnedcoal[1998] - yearly_unitburnedcoal[1994])/yearly_unitburnedcoal[1994])*100
percent_change

-20.56765451826049

## Question 10

In [67]:
df.groupby(['report_year']).mean()['fuel_cost_per_unit_delivered'].idxmax()

1997