# Data Importing, Pre-Processing and Splitting

In [1]:
import pandas as pd
import matplotlib.pyplot  as plt
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import Ridge, Lasso, LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
df = pd.read_csv('energydata_complete.csv')

In [4]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
count,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,...,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000,19735.000000
mean,97.694958,3.801875,21.686571,40.259739,20.341219,40.420420,22.267611,39.242500,20.855335,39.026904,...,19.485828,41.552401,7.411665,755.522602,79.750418,4.039752,38.330834,3.760707,24.988033,24.988033
std,102.524891,7.935988,1.606066,3.979299,2.192974,4.069813,2.006111,3.254576,2.042884,4.341321,...,2.014712,4.151497,5.317409,7.399441,14.901088,2.451221,11.794719,4.194648,14.496634,14.496634
min,10.000000,0.000000,16.790000,27.023333,16.100000,20.463333,17.200000,28.766667,15.100000,27.660000,...,14.890000,29.166667,-5.000000,729.300000,24.000000,0.000000,1.000000,-6.600000,0.005322,0.005322
25%,50.000000,0.000000,20.760000,37.333333,18.790000,37.900000,20.790000,36.900000,19.530000,35.530000,...,18.000000,38.500000,3.666667,750.933333,70.333333,2.000000,29.000000,0.900000,12.497889,12.497889
50%,60.000000,0.000000,21.600000,39.656667,20.000000,40.500000,22.100000,38.530000,20.666667,38.400000,...,19.390000,40.900000,6.916667,756.100000,83.666667,3.666667,40.000000,3.433333,24.897653,24.897653
75%,100.000000,0.000000,22.600000,43.066667,21.500000,43.260000,23.290000,41.760000,22.100000,42.156667,...,20.600000,44.338095,10.408333,760.933333,91.666667,5.500000,40.000000,6.566667,37.583769,37.583769
max,1080.000000,70.000000,26.260000,63.360000,29.856667,56.026667,29.236000,50.163333,26.200000,51.090000,...,24.500000,53.326667,26.100000,772.300000,100.000000,14.000000,66.000000,15.500000,49.996530,49.996530

In [6]:
df.drop(['date', 'lights'], axis=1, inplace=True)

In [8]:
df.shape[1]

27

In [10]:
scaler = MinMaxScaler()
norm_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)

In [29]:
#Feaures
features = norm_df.drop(['Appliances'], axis=1)
#Target
target = norm_df['Appliances']

x_train,x_test,y_train,y_test = train_test_split(features, target, test_size = 0.3, random_state = 42)

## Quiz 12

In [30]:
x_tr, x_te, y_tr, y_te= x_train[['T2']], x_test[['T2']], x_train[['T6']], x_test[['T6']]

model1 = LinearRegression()

model1.fit(x_tr, y_tr)

LinearRegression()

In [31]:
pred = model1.predict(x_te)

r2_value = round(r2_score(y_te, pred), 2)
r2_value

0.64

## Quiz 13

In [32]:
ov_model = LinearRegression()

ov_model.fit(x_train, y_train)

LinearRegression()

In [33]:
ov_pred = ov_model.predict(x_test)

ov_mae = round(mean_absolute_error(y_test, ov_pred), 2)
ov_mae

0.05

## Quiz 14

In [34]:
ov_rss = np.sum(np.square(y_test-ov_pred))
round(ov_rss,2)

45.35

## Quiz 15

In [37]:
ov_rmse = np.sqrt(mean_squared_error(y_test, ov_pred))
round(ov_rmse, 3)

0.088

## Quiz 16

In [39]:
coef_det = r2_score(y_test, ov_pred)
round(coef_det, 2)

0.15

## Quiz 17

In [48]:
weights = ov_model.coef_
weights_df = pd.Series(weights, index=x_train.columns)

In [50]:
weights_df.sort_values()

RH_2          -0.456698
T_out         -0.321860
T2            -0.236178
T9            -0.189941
RH_8          -0.157595
RH_out        -0.077671
RH_7          -0.044614
RH_9          -0.039800
T5            -0.015657
T1            -0.003281
rv1            0.000770
rv2            0.000770
Press_mm_hg    0.006839
T7             0.010319
Visibility     0.012307
RH_5           0.016006
RH_4           0.026386
T4             0.028981
Windspeed      0.029183
RH_6           0.038049
RH_3           0.096048
T8             0.101995
Tdewpoint      0.117758
T6             0.236425
T3             0.290627
RH_1           0.553547
dtype: float64

## Quiz 18

In [52]:
ridge = Ridge(alpha=0.4)

ridge.fit(x_train, y_train)

ridge_pred = ridge.predict(x_test)
ridge_rmse = np.sqrt(mean_squared_error(y_test, ridge_pred))
round(ridge_rmse, 3)

#HENCE NO CHANGE

0.088

## Quiz 19

In [56]:
lasso = Lasso(alpha = 0.001)

lasso.fit(x_train, y_train)

np.shape(lasso.coef_[lasso.coef_ != 0])

(4,)

## Quiz 20

In [57]:
lasso_pred = lasso.predict(x_test)
lasso_rmse = np.sqrt(mean_squared_error(y_test, lasso_pred))
round(lasso_rmse, 3)

0.094